# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache
*.userprefs

# Node
**/node_modules/
npm-debug.log
yarn-error.log

# Angular
**/.angular/
**/dist/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vs/

# Visual Studio Code
**/.vscode/
.history/*

# Logs
logs/

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env.local
