header {
  display: flex;
  padding: 16px;
  background-color: #222;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

span {
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
  
}

span:hover,
li:hover {
  color: #777;
}
